Вам предстоит проанализировать данные о бронировании отелей.

# Задание 1. 

Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. 
Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.

Описание данных.
Имеются следующие переменные:

Hotel – тип отеля (City Hotel или Resort Hotel)

Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным

Lead time – количество дней, прошедших между датой бронирования и датой прибытия

Arrival full date – полная дата прибытия

Arrival date year – год прибытия

Arrival date month – месяц прибытия

Arrival date week number – номер недели прибытия

Arrival date day of month – день прибытия

Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле

Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле

Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)

Adults – число взрослых

Children – число детей

Babies – число младенцев

Meal – выбранный тип питания

Country – страна происхождения клиента

Reserved room type – тип зарезервированного номера

Assigned room type – тип полученного номера (может отличаться от забронированного)

Customer type – тип бронирования

Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину

Reservation status date – дата обновления статуса

In [3]:
# импорт библиотеки
import pandas as pd

In [4]:
table= pd.read_csv('2_bookings.csv', encoding='windows-1251', sep=';')

In [5]:
#размер таблицы
table.shape

(119390, 21)

In [6]:
#типы переменных
table.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [7]:
#вывод данных (первые 7 строк)
table.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,01.07.2015,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,01.07.2015
1,Resort Hotel,0,737,01.07.2015,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,01.07.2015
2,Resort Hotel,0,7,01.07.2015,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,02.07.2015
3,Resort Hotel,0,13,01.07.2015,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,02.07.2015
4,Resort Hotel,0,14,01.07.2015,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,03.07.2015
5,Resort Hotel,0,14,01.07.2015,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,03.07.2015
6,Resort Hotel,0,0,01.07.2015,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,03.07.2015

# Задание 2. 
Сохраните прочитанный датасет в bookings.
Затем запишите первые 7 строк в переменную bookings_head.

In [17]:
booking_head=table.head(7)

# Задание 3. 

Посмотрите на размеры таблицы. Сколько всего в ней столбцов?

In [21]:
table.shape

(119390, 21)

In [20]:
table.shape[1]

21

# Задание 4. 

К какому типу относится большинство переменных?

In [22]:
table.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [23]:
table.dtypes.value_counts()

object     10
int64      10
float64     1
Name: count, dtype: int64

# Задание 5.

Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны 
в неудобном для дальнейшей работы формате. Исправьте ситуацию, 
приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания.

Например: Is Canceled -> is_canceled

Подсказка: вы можете использовать цикл, который будет проходить по bookings.columns, а в теле цикла использовать методы строк:

column.replace(" ", "_").lower()

In [25]:
table=table.rename(columns=lambda col: col.replace(" ", "_").lower())
table.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,01.07.2015,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,01.07.2015
1,Resort Hotel,0,737,01.07.2015,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,01.07.2015
2,Resort Hotel,0,7,01.07.2015,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,02.07.2015
3,Resort Hotel,0,13,01.07.2015,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,02.07.2015
4,Resort Hotel,0,14,01.07.2015,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,03.07.2015

# Задание 6.

Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.

Подсказка: здесь необходимо сделать группировку по ['country'] и агрегирование по сумме 'is_canceled'.

In [28]:
successful = table[table['is_canceled'] == 0]
top_five = successful['country'].value_counts().head(5)
print(top_five)

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: count, dtype: int64

In [31]:
top_countries = table \
    .groupby(['country'], as_index=False) \
    .aggregate({'is_canceled': 'sum'}) \
    .sort_values('is_canceled', ascending=False) \
    .head(5)
top_countries

    country  is_canceled
135     PRT        27519
59      GBR         2453
51      ESP         2177
56      FRA         1934
81      ITA         1333

# Задание 7.

На сколько ночей (stays_total_nights) в среднем бронируют отели типа City Hotel? Resort Hotel?

In [35]:
city_hotel_avg_nights = table[table['hotel'] == 'City Hotel']['stays_total_nights'].mean()
resort_hotel_avg_nights = table[table['hotel'] == 'Resort Hotel']['stays_total_nights'].mean()
print("City Hotel:", city_hotel_avg_nights, "nights")
print("Resort Hotel:", resort_hotel_avg_nights, "nights")

City Hotel: 2.978141938736922 nights
Resort Hotel: 4.318547179231153 nights

In [36]:
mean_nights = table \
    .groupby(['hotel'], as_index=False) \
    .aggregate({'stays_total_nights': 'mean'}) \
    .sort_values('stays_total_nights', ascending=False) \
    .round(2)
mean_nights

          hotel  stays_total_nights
1  Resort Hotel                4.32
0    City Hotel                2.98

# Задание 8.

Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

*отмена бронирования также считается


Подсказка: воспользуйтесь  .query('reserved_room_type != assigned_room_type')

In [39]:
not_equal = table.query('reserved_room_type != assigned_room_type').shape[0]
print("Бронирования, где типы номеров не совпадают:", not_equal)

Бронирования, где типы номеров не совпадают: 14917

# Задание 9.

Теперь проанализируйте даты запланированного прибытия (arrival_date_year). На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

Вам пригодится arrival_date_month.agg(pd.Series.mode) - Mode - возвращает самое часто встречаемое значение, если таких несколько возвращает их все

In [42]:
booking_2016 = table[table['arrival_date_year'] == 2016]['arrival_date_month']
popular_month_2016 = booking_2016.agg(pd.Series.mode)

booking_2017 = table[table['arrival_date_year'] == 2017]['arrival_date_month']
popular_month_2017 = booking_2017.agg(pd.Series.mode)

print("В 2016 году бронь чаще всего оформлялась на :", popular_month_2016)
print("В 2016 году бронь чаще всего оформлялась на:", popular_month_2017)

В 2016 году бронь чаще всего оформлялась на : 0    October
Name: arrival_date_month, dtype: object
В 2016 году бронь чаще всего оформлялась на: 0    May
Name: arrival_date_month, dtype: object

In [43]:
table.groupby('arrival_date_year').arrival_date_month.agg(pd.Series.mode)

arrival_date_year
2015    September
2016      October
2017          May
Name: arrival_date_month, dtype: object

# Задание 10.

Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа 
City Hotel отменялись чаще всего в 2015? 2016? 2017?

Подсказка: для этого сначала примените метод groupby, после чего выберите нужную колонку для дальнейших действий

Например:

df.groupby('column_1')['column_2'].what_to_do()

In [47]:
cancel_month_2015 = table[(table['hotel'] == 'City Hotel') & (table['arrival_date_year'] == 2015) & (table['is_canceled'] == 1)]['arrival_date_month'].mode()
cancel_month_2016 = table[(table['hotel'] == 'City Hotel') & (table['arrival_date_year'] == 2016) & (table['is_canceled'] == 1)]['arrival_date_month'].mode()
cancel_month_2017 = table[(table['hotel'] == 'City Hotel') & (table['arrival_date_year'] == 2017) & (table['is_canceled'] == 1)]['arrival_date_month'].mode()

print("В 2015 бронирования чаще всего отменялись в:", cancel_month_2015)
print("В 2015 бронирования чаще всего отменялись в 2016:", cancel_month_2016)
print("В 2015 бронирования чаще всего отменялись в 2017:", cancel_month_2017)

В 2015 бронирования чаще всего отменялись в: 0    September
Name: arrival_date_month, dtype: object
В 2015 бронирования чаще всего отменялись в 2016: 0    October
Name: arrival_date_month, dtype: object
В 2015 бронирования чаще всего отменялись в 2017: 0    May
Name: arrival_date_month, dtype: object

In [48]:
table.groupby(['arrival_date_year', 'arrival_date_month']).is_canceled.sum()

arrival_date_year  arrival_date_month
2015               August                1598
                   December               973
                   July                  1259
                   November               486
                   October               1732
                   September             2094
2016               April                 2061
                   August                1825
                   December              1398
                   February              1337
                   January                557
                   July                  1499
                   June                  2096
                   March                 1477
                   May                   1915
                   November              1636
                   October               2514
                   September             2022
2017               April                 2463
                   August                1816
                   February              1359
                   January               1250
                   July                  1984
                   June                  2439
                   March                 1672
                   May                   2762
Name: is_canceled, dtype: int64

# Задание 11.

Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [49]:
table[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

# Задание 12

Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

City hotel – отель находится в городе Resort hotel – отель курортный

В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.


Подсказка: Создать новый столбец из 2-х предыдущих довольно просто, например
bookings['новый столбец'] = bookings.старый_столбец_1 + bookings.старый_столбец_2

In [50]:
table['total_kids']=table.babies+table.children
table.groupby('hotel').total_kids.mean().round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64